<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/fevicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles2.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title> {% block title %}  {% endblock  %}</title> 
</head>
<body>
    <nav class="sidebar ">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='/img/logo.png') }}" alt="NoctiWave">
                </span>

                <div class="text logo-text">
                    <span class="name">NoctiWave</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                

                <ul class="menu-links">
                    <li class="nav-link {% if active_page == 'dashboard' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.dashboard')}}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link {% if active_page == 'profile' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.profile' )}}">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>

                    <li class="nav-link {% if active_page == 'campaigns' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.campaigns' )}}">
                            <i class="ri-megaphone-line icon"></i>
                            <span class="text nav-text">Campaigns</span>
                        </a>
                    </li>

                    <li class="nav-link {% if active_page == 'influencers' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.influencers' )}}">
                            <i class='bx bx-star icon'></i>
                            <span class="text nav-text">Influencers</span>
                        </a>
                    </li>

                    <li class="nav-link {% if active_page == 'ad-requests' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.ad_requests')}}">
                            <i class='bx bx-message-alt-dots icon'></i>
                            <span class="text nav-text">Ad Requests</span>
                        </a>
                    </li>

                    
                    <li class="nav-link nav-link {% if active_page == 'payments' %}active{% endif %}">
                        <a href="{{ url_for('dashboard_bp.payments')}}">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Payments</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/logout" id="logoutLink">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="toggle-switch"> </div>
        </div>
    </nav>

  <!-- Logout Confirmation Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to logout?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id="confirmLogout">Yes</button>
        </div>
      </div>
    </div>
  </div>

        <section class="home">
            <div class="top_nav">
                <div class="left_top_nav">
                    <div class="page_title temp">{% block nav_title %} {% endblock %} </div>
                </div>
                <div class="right_top_nav">
                    <div class="nav_profile_sys">
                        <i class="ri-notification-2-line temp kk notification_icon"></i>
                        <div class="notification_box_top">
                            <div class="notification_box">
                                <ul class="notification_data_top">
                                    {% if notifications %}
                                    {% for notification in notifications %}
                                    <li class="notification_main_data">
                                        <div class="notification-heading_p_markread">
                                            <h5>{{notification.title | safe}}</h5>
                                                <form id="NotificationClear-{{notification.notification_id}}" method="POST">
                                                    <input type="hidden" name="_method" value="MARKREAD">
                                                    <input type="hidden" name="notification_id" value="{{notification.notification_id}}">
                                                    <button type="submit">Mark Read</button>
                                                </form>
                                        </div>
                                        <p>{{notification.description | safe}}</p>
                                        <div class="notification_time">{{ time_converter(notification.timestamp) }}</div>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <div class="d-flex flex-column align-items-center p-4">
                                        <img src="{{ url_for('static', filename='/img/empty.png') }}" alt="NoctiWave" height="120px">
                                        <div class="text-secondary mb-3 fs-5">
                                            No new notifications.
                                        </div>
                                    </div>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <a  href="/dashboard/profile" class="pro_pic_aur_name">
                            <div class="username_profession d-flex align-items-center">
                                <div class="username-title temp text-capitalize">{{user.username}}</div>
                                <div class="profession text-capitalize">{{user.role}}</div>
                            </div>
                            <img class="nav_user_logo" src="{{ url_for('static', filename='img/profile/' + user.profile_picture) }}">
                        </a>
                    </div>
                </div>
    
            </div>
        
          {% block content %}  {% endblock %}
      </div>
  </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>