{% extends 'sponsor/dashboard_base.html' %}
{% block title %} Influencers {% endblock %}
{% block nav_title %} Influencers {% endblock %}

{% block content %}
<div class="main">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="card mt-2" style="width: 98%; margin-left: 10px;">
        <form>
                <div class="row align-items-center mt-3">
                    <div class="col-auto mb-3" style="margin: 5px -10px 0px 15px;">
                        <i class="bx bx-filter" style="font-size: 30px;"></i>
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ query['name'] }}">
                    </div>                    
                    <div class="col-md-2 mb-3">
                        <select class="form-select" id="category" name="category">
                            <option value="" {% if query["category"] == "" %} selected {% endif %}>Category</option>
                            <option value="Fashion" {% if query["category"] == "Fashion" %} selected {% endif %}>Fashion</option>
                            <option value="Beauty" {% if query["category"] == "Beauty" %} selected {% endif %}>Beauty</option>
                            <option value="Technology" {% if query["category"] == "Technology" %} selected {% endif %}>Technology</option>
                            <option value="Health & Fitness" {% if query["category"] == "Health & Fitness" %} selected {% endif %}>Health & Fitness</option>
                            <option value="Travel" {% if query["category"] == "Travel" %} selected {% endif %}>Travel</option>
                            <option value="Food & Beverage" {% if query["category"] == "Food & Beverage" %} selected {% endif %}>Food & Beverage</option>
                            <option value="Gaming" {% if query["category"] == "Gaming" %} selected {% endif %}>Gaming</option>
                            <option value="Sports" {% if query["category"] == "Sports" %} selected {% endif %}>Sports</option>
                            <option value="Entertainment" {% if query["category"] == "Entertainment" %} selected {% endif %}>Entertainment</option>
                            <option value="Home & Lifestyle" {% if query["category"] == "Home & Lifestyle" %} selected {% endif %}>Home & Lifestyle</option>
                        </select>                        
                    </div>
                    <div class="col-md-2 mb-3">
                        <select class="form-select" id="platform" name="platform">
                            <option value="" {% if query["platform"] == "" %} selected {% endif %}>Platform</option>
                            <option value="Instagram" {% if query["platform"] == "Instagram" %} selected {% endif %}>Instagram</option>
                            <option value="YouTube" {% if query["platform"] == "YouTube" %} selected {% endif %}>YouTube</option>
                            <option value="Facebook" {% if query["platform"] == "Facebook" %} selected {% endif %}>Facebook</option>
                            <option value="Twitter" {% if query["platform"] == "Twitter" %} selected {% endif %}>Twitter</option>
                            <option value="LinkedIn" {% if query["platform"] == "LinkedIn" %} selected {% endif %}>LinkedIn</option>
                            <option value="Other" {% if query["platform"] == "Other" %} selected {% endif %}>Other</option>
                        </select>                        
                    </div>
                    <div class="col-md-2 mb-3">
                        <select class="form-select" id="reach" name="reach">
                            <option value=0 {% if query["reach"] == "0" %} selected {% endif %}>Minimum Reach</option>
                            <option value=100000 {% if query["reach"] == "100000" %} selected {% endif %}>100K</option>
                            <option value=500000 {% if query["reach"] == "500000" %} selected {% endif %}>500K</option>
                            <option value=1000000 {% if query["reach"] == "1000000" %} selected {% endif %}>1M</option>
                            <option value=5000000 {% if query["reach"] == "5000000" %} selected {% endif %}>5M</option>
                            <option value=10000000 {% if query["reach"] == "10000000" %} selected {% endif %}>10M</option>
                        </select>                        
                    </div>
                    <div class="col-md-2 d-flex align-items-end mb-3">
                        <button class="btn btn-sm force-white" style="background-color: #55acee;" type="submit"><i class="fa fa-paper-plane me-2"></i> Apply</button>
                    </div>
                </div>
            </form>
            {% set influencers = influencers | selectattr('flagged', 'equalto', 'False') | list %}
            {% set total_influencer = influencers | list | length  %}
            <h5 class="text-muted d-flex align-items-center" style="margin-left: 20px;"> {% if total_influencer > 1 %} Total Influencers: {{ total_influencer }} {% else %} Total Influencer: {{total_influencer}} {% endif %}</h5>

            {% if total_influencer == 0 %}
            <div class="d-flex flex-column align-items-center p-4 bg-white shadow-sm rounded">
                <img src="{{ url_for('static', filename='/img/empty.png') }}" alt="NoctiWave" height="150px">
                <div class="text-secondary font-weight-bold mb-3 fs-5">
                  No Influencer Found
                </div>
            </div>        
            {% else %} 
        <div class="row d-flex mt-1">
            {% for influencer in influencers %}
            <div class="col-md-4 mb-4">
                <div class="card mx-auto" style="max-width: 600px; border: 1px solid #ddd; border-radius: 8px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center" style="margin-bottom: 0%;">
                            <img src="{{ url_for('static', filename='/img/profile/' + influencer.profile_picture) }}"
                                alt="Profile Picture" class="rounded-circle"
                                style="width: 60px; height: 60px; margin-right: 10px;">
                            <div class="ml-3 flex-grow-1">
                                {% if influencer.name | length < 13 %} <h5 class="mb-0">{{ influencer.name }}</h5>
                                    {% else %}
                                    <h5 class="mb-0">{{ influencer.name[:11] }}..</h5>
                                    {% endif %}
                                    <p class="text-muted mb-0">@{{ influencer.username }}</p>
                            </div>
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#createAdRequestModal-{{ influencer.influencer_id }}">
                                <i class="fas fa-plus-circle"></i> AdRequest
                            </button>
                        </div>
                        <hr class="mb-1">
                        <h5 class="text-capitalize" style="margin-top: 5px; color: #676767;">About
                            {{influencer.username}}</h5>
                        <p class="font-weight-bold mb-1">{{ influencer.bio }}</p>
                        <hr class="mb-1">
                        <div class="mb-0">
                            <p class="mb-0" style="color: #676767;"> Category </p>
                            <h5>{{ influencer.category }} </h5>
                        </div>

                        <p class="mb-0" style="color: #676767;"> Niches </p>
                        {% if influencer.niche %}
                        {% set niches = influencer.niche.split(",") %}
                        {% for niche in niches %}
                        <span class="nich_btn2">{{ niche }}</span>
                        {% endfor %}
                        {% else %}
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="fs-5">No niches added yet. </p>
                        </div>
                        {% endif %}

                    </div>
                    <div class="card-footer">
                        {% if influencer.platforms %}
                        <div class="d-grid gap-2">
                            <div class="social-buttons">
                                {% for platform in influencer.platforms %}
                                {% if platform.platform.lower() == 'youtube' %}
                                <button class="btn force-white me-2 full-width" style="background-color: #ed302f;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fab fa-youtube me-2"></i>{{ converter(platform.reach) }}
                                </button>
                                {% elif platform.platform.lower() == 'instagram' %}
                                <button class="btn force-white me-2 full-width" style="background-color: #ac2bac;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fab fa-instagram me-2"></i>{{ converter(platform.reach) }}
                                </button>
                                {% elif platform.platform.lower() == 'facebook' %}
                                <button class="btn force-white me-2 full-width" style="background-color: #3b5998;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fab fa-facebook me-2"></i>{{ converter(platform.reach)}}
                                </button>
                                {% elif platform.platform.lower() == 'twitter' %}
                                <button class="btn force-white me-2 full-width" style="background-color: #55acee;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fab fa-twitter me-2"></i>{{ converter(platform.reach) }}
                                </button>
                                {% elif platform.platform.lower() == 'linkedin' %}
                                <button class="btn force-white me-2 full-width" style="background-color: #0082ca;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fab fa-linkedin me-2"></i>{{ converter(platform.reach) }}
                                </button>
                                {% else %}
                                <button class="btn force-white me-2 full-width" style="background-color: #25d366;"
                                    type="button" onclick="location.href='{{ platform.url }}';">
                                    <i class="fa fa-globe me-2"></i>{{ converter(platform.reach) }}
                                </button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <!-- Create Ad Request Modals for each influencer -->
            <div class="modal fade" id="createAdRequestModal-{{ influencer.influencer_id }}" tabindex="-1"
                aria-labelledby="createAdRequestModalLabel-{{ influencer.influencer_id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createAdRequestModalLabel-{{ influencer.influencer_id }}">Create
                                Ad Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createAdRequestForm-{{ influencer.influencer_id }}" method="POST">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="influencer_id" value="{{influencer.influencer_id}}">
                                <div class="mb-3">
                                    <label for="campaign_id-{{ influencer.influencer_id }}" class="form-label">Campaign
                                        Name</label>
                                    <select class="form-select" id="campaign_id-{{ influencer.influencer_id }}"
                                        name="campaign_id" required>
                                        {% for campaign_option in campaigns %}
                                        <option value="{{ campaign_option.campaign_id }}" {% if
                                            campaign_option==campaign %} selected {% endif %}>{{ campaign_option.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="requirements" class="form-label">Requirements</label>
                                    <textarea class="form-control" id="requirements-{{ influencer.influencer_id }}"
                                        name="requirements" rows="3" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="payment_amount" class="form-label">Payment Amount</label>
                                    <input type="number" step="0.01" class="form-control"
                                        id="payment_amount-{{ influencer.influencer_id }}" name="payment_amount"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="messages" class="form-label">Messages</label>
                                    <input type="text" class="form-control" id="messages-{{ influencer.influencer_id }}"
                                        name="messages" required>
                                </div>
                                <button type="submit" class="btn btn-success">Create Ad Request</button>
                                <button type="button" class="btn btn-secondary ms-2"
                                    data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}